body {
    font-size: 16px;
    font-family: $roboto;
    overflow-x: hidden;
    @include media-breakpoint-down(sm){
        font-size: rem(15);
    }
}

img {
    max-width: 100%;
}

a,
a:visited,
a:focus {
    text-decoration: none;
    outline: 0;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:hover {
    text-decoration: none;
}

.no-decoration:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

// common classes

.animatedParent{
    overflow: hidden;
}
.section-padding {
    padding: rem(120) 0;
    @include media-breakpoint-down(lg) {
        padding: rem(70) 0;
    }
    @include media-breakpoint-down(md) {
        padding: rem(40) 0;
    }
}

.bg-light {
    background-color: $gray-200;
    color: $gray-dark;
}

.bg-orange {
    background-color: $orange;
    color: $white;
}

.bg-dark {
    background-color: $gray-dark;
    color: $white;
    h2 {
        color: $white;
    }
}

.section-sub-title {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: rem(50) !important;
    @include media-breakpoint-down(lg){
        max-width: 80%;
    }
    @include media-breakpoint-down(md){
        max-width: 100%;
        margin-bottom: rem(30) !important;
    }
}

p {
    &:last-of-type {
        margin-bottom: 0;
    }
}

.bg-gray-700 {
    background-color: $gray-700;
}

.center-div {
    float: none;
    margin: 0 auto;
}

.common-transition {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.transateXY-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.transateX-center {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.transateY-center {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}