// function Convert PX to REM
$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

// variables for fonts
$heading-font: 'Playfair Display', serif;
$content-font: 'Roboto', sans-serif;

// variables for colors
$white: #ffffff;
$black: #000000;
$dark-gray: #373333;
$light-gray: #f2f5f6;
$text-gray: #707070;

// theme colors
$orange: #f94f22;


// define theme color ( so that we just have to use $primary-color )
$primary-color: $orange;


// defing class
.primary-color{
	color: $primary-color;
}