.btn{
	cursor: pointer;
	margin-bottom: rem(30);
	margin-right: rem(15);
	text-transform: capitalize;
	// primary buttons
	&.btn-primary{
		background-color: $orange;
		border: 1px solid transparent;
		text-transform: capitalize;
		&:hover{
			background-color: transparent;
			border: 1px solid $orange;
			color: $orange;
		}
		&.active{
			background-color: transparent;
			border: 1px solid $orange;
			color: $orange;
		}
	}
	// secondary-button
	&.btn-outline-primary{
		border-color: $orange;
		color: $orange;
		&:hover{
			border-color: transparent;
			background-color: $orange;
			color: $white;
		}
		&.active{
			border-color: transparent;
			background-color: $orange;
			color: $white;
		}
	}
}