.btn{
	cursor: pointer;
	margin-bottom: rem(0);
	margin-right: rem(15);
	min-width: rem(120);
	border-radius: 0px;
    text-transform: uppercase;
    font-size: rem(16);
    padding: 12px 20px;
    line-height: 1;
	&.btn-primary{
		background: $primary;
	}
	&.btn-primary-white{
	    background-color: $white;
	    color: $gray-900;
	    border: 2px solid $white;
	    &:hover{
	    	background-color: transparent;
	    	color: $white;
	    }
	}
	&.btn-outline-primary-white{
		background: transparent;
		border: 2px solid $white;
		color: $white;
		&:hover{
			background-color: $white;
			color: $gray-900;
		}
	}
}
