.blog{
    .blog-holder{
        background-color: $white;
        box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
        -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
        -moz-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
        -o-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
        -ms-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
        overflow: hidden;
        .post-img{
            position: relative;
            .post-info{
                position: absolute;
                color: $white;
                text-align: center;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                right: 20px;
                bottom: -30px;
                font-size: rem(16);
                line-height: 50px;
                box-shadow: 0px 0px 30px red;
                -webkit-box-shadow: 0px 0px 30px red;
                -moz-box-shadow: 0px 0px 30px red;
                -o-box-shadow: 0px 0px 30px red;
                -ms-box-shadow: 0px 0px 30px red;
                p{
                    position: absolute;
                    @extend .transateXY-center;
                }
                span{
                    display: block;
                    line-height: 1;
                }
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;

                }
            }
        }
        .blog-description{
            padding: 20px 25px;
            .post-title{
                max-width: 83%;
                a{
                    color: $gray-800;
                }
            }
            .post-more{
                .btn{
                    margin-bottom: 15px;
                }
            }
        }
    }
}