.blog{
    .post-img{
        position: relative;
        .post-info{
            position: absolute;
            top: 0;
            right: 25px;
            color: $white;
            font-size: 30px;
            text-align: center;
            line-height: 35px;
            padding: 25px 8px;
            span{
                display: block;
            }
            &:after{
                content: '';
                position: absolute;
                bottom: 0;

            }
        }
    }
    .post-title{
        margin: 22px 0 15px;
        h2{
            font-size: 25px;
            margin: 0;
        }
    }
    .post-text{
        margin-bottom: 20px;
    }
    .post-more{
        
    }
}