.contact-holder{
    color: $white;
    position: relative;
    .map-holder{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        iframe{
            height: 100%;
            width: 100%;
        }
    }
    .contact-form-holder{
        padding-left: rem(120);
    }
}