.counter {
    background-image: url(../images/counter-background.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    &:after {
        height: 100%;
        width: 100%;
        content: '';
        top: 0;
        left: 0;
        background-color: rgba(40, 40, 40, .6);
        position: absolute;
    }
    ul {
        list-style: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        color: $white;
        position: relative;
        z-index: 9;
        li {
            display: inline-block;
            margin: 20px 65px;
            padding: 0;
            @include media-breakpoint-down(lg) {
                margin: 20px 40px;
            }
            span.lnr {
                font-size: 45px;
            }
            &:before {
                display: none;
            }
            .counter-number {
                font-size: rem(50);
                font-weight: bold;
                margin: 20px 0;
                line-height: 42px;
            }
            .counter-text {
                font-size: 18px;
                text-transform: uppercase;
                margin: 0;
            }
            @include media-breakpoint-down(sm) {
                span.lnr {
                    font-size: 40px;
                }
                .counter-number {
                    font-size: rem(40);
                    margin: 10px 0;
                }
                .counter-text {
                    font-size: 17px;
                }
            }
            @include media-breakpoint-down(xs) {
                display: block;
                margin: 0 0 45px;
                &:last-of-type {
                    margin-bottom: 0;
                    &::after {
                        display: none;
                    }
                }
                &::after {
                    position: absolute;
                    content: '';
                    width: 90%;
                    height: 1px;
                    background: rgba(255, 255, 255, 0.3);
                    bottom: -19px;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
                span.lnr {
                    font-size: 30px;
                }
                .counter-number {
                    font-size: rem(23);
                    margin: 10px 0 5px;
                    line-height: 100%;
                }
                .counter-text {
                    font-size: 15px;
                }
            }
        }
    }
}