.isotop-gallery-holder {
    .filter-btns {
        text-align: center;
        .btn {
            padding: 8px 12px;
            font-size: rem(13);
            min-width: 90px;
            margin-top: 0px;
            &.is-active {
                background: $gray-dark;
                color: $white;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    .list {
        &.isotop-images-list {
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 40px;
            li {
                margin: 15px;
                padding: 0;
                position: relative;
                overflow: hidden;
                &.list__item {
                    width: 30%;
                }
                &:before {
                    display: none;
                }
                &:after {
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0);
                    top: 0;
                    left: 0;
                    @extend .common-transition;
                }
                img {
                    @extend .common-transition;
                }
                .portfolio-desprition {
                    @extend .common-transition;
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #fff;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    margin-top: 0;
                    opacity: 0;
                    text-align: center;
                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #fff;
                        opacity: 0;
                        transition: all 0.5s;
                        transition-delay: 0.2s;
                    }
                    &:before {
                        bottom: 20px;
                        right: 20px;
                        border-width: 0 1px 1px 0;
                    }
                    &:after {
                        left: 20px;
                        top: 20px;
                        border-width: 1px 0 0 1px;
                    }
                    h4 {
                        color: $white;
                        margin-bottom: 0;
                    }
                    p {
                        line-height: 19px;
                        font-size: 15px;
                        display: none;
                        margin-top: 5px;
                    }
                    a.gallery-item {
                        font-size: 25px;
                        color: #fff;
                        text-decoration: none;
                        margin-bottom: 15px;
                        position: absolute;
                        @extend .transateXY-center;
                    }
                }
                &:hover {
                    &:after {
                        background-color: $primary-color;
                        opacity: .8;
                    }
                    img {
                        -moz-transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                    .portfolio-desprition {
                        display: block;
                        margin-top: 0px;
                        opacity: 1;
                        &::after,
                        &::before {
                            opacity: 1;
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
                @include media-breakpoint-down(md) {
                    margin: 10px;
                }
                @include media-breakpoint-down(sm) {
                    margin: 10px;
                    &.list__item {
                        width: 46%;
                    }
                    .portfolio-desprition {
                        display: block;
                        opacity: 1;
                        &::after,
                        &::before {
                            opacity: 1;
                            width: 60px;
                            height: 60px;
                        }
                    }
                    &:after {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
                @include media-breakpoint-down(xs) {
                    margin: 10px 5%;
                    &.list__item {
                        width: 90%;
                    }
                }
            }
        }
    }
}