.team {
    .team-member-holder {
        position: relative;
        overflow: hidden;
        img {
            @extend .common-transition;
        }
        &:after {
            content: '';
            position: absolute;
            top: 10px;
            left: 10px;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            margin: 0;
            opacity: 0;
            background-color: rgba(0, 0, 0, .5);
            @extend .common-transition;
            @include media-breakpoint-down(sm) {
                opacity: 1;
            }
        }
        .member-info {
            position: absolute;
            width: 70%;
            color: white;
            opacity: 0;
            transition: opacity 0.5s;
            transition-timing-function: linear;
            z-index: 1;
            margin-top: 60px;
            @extend .common-transition;
            @extend .transateXY-center;
            .member-social-contacts {
                ul {
                    li {
                        display: inline-block;
                        list-style: none;
                        padding-left: 10px;
                        &:first-child {
                            padding-left: 0;
                        }
                        &:before {
                            display: none;
                        }
                        a {
                            height: 35px;
                            width: 35px;
                            border-radius: 50%;
                            background: $white;
                            color: $gray-900;
                            text-align: center;
                            display: block;
                            line-height: 35px;
                            @extend .common-transition;
                            &:hover {
                                background: $gray-900;
                                color: $white;
                            }
                        }
                    }
                }
            }
            p,
            h4 {
                margin: 5px 0 0;
                color: $white;
            }
            @include media-breakpoint-down(sm) {
                opacity: 1;
                margin-top: 0;
                &:after {
                    opacity: 1;
                }
            }
        }
        &:hover {
            &:after {
                opacity: 1;
            }
            .member-info {
                opacity: 1;
                margin-top: 0px;
                @extend .common-transition;
            }
            img {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
    // .owl-nav {
    //     position: absolute;
    //     width: 100%;
    //     @extend .transateY-center;
    //     .owl-next,
    //     .owl-prev {
    //         position: absolute;
    //         font-size: 35px;
    //         &:hover {
    //             color: $primary-color;
    //         }
    //     }
    //     .owl-next {
    //         right: -65px;
    //     }
    //     .owl-prev {
    //         left: -65px;
    //     }
    // }
}