.tesimonial{
    .testimonial-outer-wrapper{
    }
    .testimonial-carousel{
        .testimonial-img-wrap{
            img{
                width: auto;
            }
        }
        .testimonial-content-wrap{
            position: relative;
            img{
                &.quote{
                    position: absolute;
                    right: -60px;
                    top: 0px;
                    width: auto;
                }
            }
            .client-info{
                margin: 25px 0;
                @include media-breakpoint-down(sm){
                    margin-bottom: 0px;
                }
                h4{
                    margin-bottom: 0;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}